In [16]:
import pandas as pd 
d=pd.read_csv('assgn.csv')#if we turn the index_col=0 then in no way the type will be series until and unless the index and the data is printed 
d.columns
a=d['data']
print(a)
type(a)

0     4
1     8
2    15
3    16
4    23
5    42
Name: data, dtype: int64

pandas.core.series.Series

In [23]:
list_variable=[1,2,3,54,2,3,4,5,6,3]#here the index_col=0 cannot be applied as the list is 1-D and also the variable b is is a pandas Series 
b=pd.Series(list_variable)          # object that has only one column, so index_col=0 is not applicable.
b

0     1
1     2
2     3
3    54
4     2
5     3
6     4
7     5
8     6
9     3
dtype: int64

In [36]:
c=pd.read_csv('Q3.csv')
print(c)
type(c)
c.dtypes
list(c.columns)
c[['Name','Age']]

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

     Name  Age
0   Alice   25
1     Bob   30
2  Claire   27

In pandas, a DataFrame is a two-dimensional labeled data structure that consists of rows and columns, similar to a spreadsheet or a SQL table. It is a commonly used data structure for data analysis and manipulation in Python. Each column in a DataFrame can have a different data type (e.g., integers, floats, strings, or dates) and a label called a column name, and each row can have a label called an index.

On the other hand, a Series is a one-dimensional labeled array that can hold any data type. It is similar to a column in a DataFrame and has an index label for each element in the array.

Here's an example to illustrate the difference between a DataFrame and a Series:

import pandas as pd

# create a dictionary with sample data
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [25, 30, 35, 40],
    'country': ['USA', 'Canada', 'USA', 'Australia']
}

# create a DataFrame from the dictionary
df = pd.DataFrame(data)

# display the DataFrame
print(df)

Output:

markdown

      name  age    country
0    Alice   25        USA
1      Bob   30     Canada
2  Charlie   35        USA
3    David   40  Australia
The above code creates a DataFrame with three columns (name, age, and country) and four rows. Each column has a label (column name), and each row has an index label (0, 1, 2, 3).

Now, let's create a Series using the age column from the DataFrame:


# create a Series from the age column of the DataFrame
age_series = df['age']

# display the Series
print(age_series)
Output:

yaml

0    25
1    30
2    35
3    40
Name: age, dtype: int64
The above code creates a Series with the age column from the DataFrame. The Series has one column (age) and four rows, with each row having an index label (0, 1, 2, 3). Note that the Series has a label for the column (age), but the DataFrame has labels for both the columns and the rows.

In summary, a DataFrame is a two-dimensional labeled data structure with both column and row labels, while a Series is a one-dimensional labeled array with only one column label.

Pandas provides a variety of functions to manipulate data in a DataFrame. Some of the commonly used functions are:

head() and tail(): To view the first 5 or last 5 few rows of the DataFrame respectively.

import pandas as pd

df = pd.read_csv('data.csv')

# view the first five rows
print(df.head())

# view the last three rows
print(df.tail(3))
drop(): To remove rows or columns from the DataFrame.

# remove the 'age' column from the DataFrame
df = df.drop('age', axis=1)

# remove the first row from the DataFrame
df = df.drop(0)
rename(): To rename columns in the DataFrame.

# rename the 'age' column to 'years'
df = df.rename(columns={'age': 'years'})
sort_values(): To sort the DataFrame by one or more columns.

# sort the DataFrame by the 'age' column
df = df.sort_values(by='age')

# sort the DataFrame by the 'age' and 'name' columns
df = df.sort_values(by=['age', 'name'])
groupby(): To group the DataFrame by one or more columns and perform aggregation functions.

# group the DataFrame by the 'country' column and calculate the mean age
df_grouped = df.groupby('country')['age'].mean()

# group the DataFrame by the 'country' and 'gender' columns and calculate the sum of 'salary'
df_grouped = df.groupby(['country', 'gender'])['salary'].sum()
fillna(): To fill missing values in the DataFrame with a specified value.

# fill missing values in the 'age' column with the mean age
df['age'] = df['age'].fillna(df['age'].mean())

# fill missing values in the 'country' column with 'Unknown'
df['country'] = df['country'].fillna('Unknown')
These are just a few examples of the many functions available in pandas to manipulate data in a DataFrame. The specific function you use will depend on the type of data you have and the task you are trying to accomplish.

In [68]:
import pandas as pd

# create the first Series
names = pd.Series(['John', 'Jane', 'Jack', 'Jill'])

# create the second Series
ages = pd.Series([25, 30, 35, 40])

# create the third Series
countries = pd.Series(['USA', 'Canada', 'Australia', 'UK'])

# concatenate the Series along the columns axis to create a DataFrame
df = pd.concat([names, ages, countries], axis=1)

# add column names to the DataFrame
df.columns = ['Name', 'Age', 'Country']

# display the resulting DataFrame
print(df)

   Name  Age    Country
0  John   25        USA
1  Jane   30     Canada
2  Jack   35  Australia
3  Jill   40         UK