In [4]:
#Q1. List any five functions of the pandas library with execution.
import pandas as pd
data={'name':['adarsh','honey','lavan','nishant','shikhar','anurag'],'work':['it','laidoff','aata','unemp','aata','cricket'],'age':[24,23,22,23,22,21]}
df=pd.DataFrame(data)
df.head()
df.tail()
pd.Categorical(df['age'])
df.columns
df.describe()
df.info()
df.value_counts('work')
df.dtypes
df.sort_values(by='age')
df.groupby('work')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    6 non-null      object
 1   work    6 non-null      object
 2   age     6 non-null      int64
dtypes: int64(1), object(2)
memory usage: 272.0+ bytes

In [5]:
#Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
#DataFrame with a new index that starts from 1 and increments by 2 for each row.
data1 ={'A': [1,2,3,4,5,6,7,8], 'B': [2,4,6,8,10,12,14,16], 'C': [3,6,9,12,15,18,21,24]}
df = pd.DataFrame(data1)
df.index=pd.Index(range(1,len(df)*2,2))
df_reindexed=df
print(df_reindexed)

    A   B   C
1   1   2   3
3   2   4   6
5   3   6   9
7   4   8  12
9   5  10  15
11  6  12  18
13  7  14  21
15  8  16  24

In [6]:
#Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
#iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
#function should print the sum to the console.
#For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
#calculate and print the sum of the first three values, which is 60.
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
sum_of_first_three_values=df['Values'][0:3].sum()
print(f"the sum of first three values is {sum_of_first_three_values}")

the sum of first three values is 60

In [7]:
'''Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.'''

def counting(df):
    count_of_words=[]
    for i in df['Text']:
        count_of_words.append(len(i))
    df['word_count']=count_of_words
    return df
data={'Text':['seb','kela','mosami','tarbooz','anaar']}
df=pd.DataFrame(data)
counting(df)

      Text  word_count
0      seb           3
1     kela           4
2   mosami           6
3  tarbooz           7
4    anaar           5

In [8]:
'''DataFrame.size and DataFrame.shape are both methods of a pandas DataFrame, but they return different information.DataFrame.size returns 
the total number of elements in the DataFrame, which is equal to the product of the number of rows and the number of columns. This includes 
all the NaN values and is equivalent to the total number of cells in the DataFrame.DataFrame.shape returns a tuple containing the number of 
rows and the number of columns in the DataFrame. This does not include any NaN values and is equivalent to the dimensions of the DataFrame.'''
df.size
df.shape

(5, 2)

In [9]:
'''Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.'''
def extract(df):
    a=df['Email'].str.split('@')[0]
    df['username']=a
df=pd.DataFrame({'Email':["timhortons@domain.com","nishant.shishodia@outlook.com"]})
extract(df)
df

"""OR simpler approach is below"""

df=pd.DataFrame({'Email':["timhortons@domain.com","nishant.shishodia@outlook.com"]})
df['username']=df['Email'].str.split('@')[0]
df

                           Email    username
0          timhortons@domain.com  timhortons
1  nishant.shishodia@outlook.com  domain.com

In [10]:
'''Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.'''
def select_rows(df):
    return df[(df['A'] > 5) & (df['B'] < 10)]
df=pd.DataFrame({'A':[3,8,6,2,9],'B':[5,2,9,3,1],'C':[1,7,4,5,2]})
selected_rows = select_rows(df)
print(selected_rows)


'''OR simpler approach '''


df=pd.DataFrame({'A':[3,8,6,2,9],'B':[5,2,9,3,1],'C':[1,7,4,5,2]})
selc_values=df[(df['A']>5) & (df['B']<10)]
selc_values

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [11]:
'''Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.'''
import numpy as np
df=pd.DataFrame({'Values':[3,8,6,2,9]})
values=df['Values']
mean=np.mean(values)
std=np.std(values)
median=np.median(values)
print(mean,median,std)

5.6 6.0 2.727636339397171

In [12]:
'''Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.'''
def add_moving_average(df):
    """
    Function to add a new column 'MovingAverage' to a Pandas DataFrame df 
    that contains the moving average of the sales for the past 7 days for each row in the DataFrame.
    """
    window_size = 7
    df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%y')
    df = df.set_index('Date')
    df['MovingAverage'] = df['Sales'].rolling(window_size, min_periods=1).mean()
    df.reset_index(inplace=True)

    return df
add_moving_average(df=pd.DataFrame({'Sales':[12,4,55,6,53,12,7,1],'Date':['1/3/23','2/3/23','3/3/23','4/3/23','5/3/23','6/3/23','7/3/23','8/3/23']}))

        Date  Sales  MovingAverage
0 2023-03-01     12      12.000000
1 2023-03-02      4       8.000000
2 2023-03-03     55      23.666667
3 2023-03-04      6      19.250000
4 2023-03-05     53      26.000000
5 2023-03-06     12      23.666667
6 2023-03-07      7      21.285714
7 2023-03-08      1      19.714286

In [13]:
'''Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.'''
df=pd.DataFrame({'Date':['3/1/23','3/2/23','3/3/23','3/4/23','3/5/23','3/6/23','3/7/23','3/8/23']})
df['Formatted']=pd.to_datetime(df['Date'])
df['weekdays']=df['Formatted'].dt.day_name()
df

     Date  Formatted   weekdays
0  3/1/23 2023-03-01  Wednesday
1  3/2/23 2023-03-02   Thursday
2  3/3/23 2023-03-03     Friday
3  3/4/23 2023-03-04   Saturday
4  3/5/23 2023-03-05     Sunday
5  3/6/23 2023-03-06     Monday
6  3/7/23 2023-03-07    Tuesday
7  3/8/23 2023-03-08  Wednesday

In [24]:
'''Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.'''
start_date=pd.to_datetime('2023-01-01')
end_date=pd.to_datetime('2023-01-31')
df=pd.DataFrame({"Date":[start_date,end_date]})
df=df['Date'].between(start_date,end_date)
df

0    True
1    True
Name: Date, dtype: bool

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?
The first and foremost library we need to import is Pandas library it self 
syntax: import Pandas as pd